@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Sevillana&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

body {
    background-color: black;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #8a2be2;
}

.add-task {
    display: flex;
    margin-bottom: 30px;
}

.add-task input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: white;
    color: black;
}

.add-task button {
    padding: 10px 20px;
    background-color: #a160dd;
    color: white;
    border: 1px solid white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    transition: .5s;
}

.add-task button:hover {
    background-color: #8422df;
}

.show-tasks {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.heading {  
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000000;
}

.tasks-box {
    padding: 15px;
}

.tasks-box ul {
    list-style: none;
}

.tasks-box li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}

.tasks-box li:last-child {
    border-bottom: none;
}

.tasks-box label {
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

.tasks-box input[type="checkbox"] {
    margin: 0 10px;
}

.tasks-box button {
    background-color: #e15142;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: .5s;
}

.tasks-box button:hover {
    background-color: #ff1900;
}

.completed {
    text-decoration: line-through;
    color: #9d9b9b;
}